/* MENU */
body{
    font-family: "Raleway", sans-serif;
}

/* NAV */
.logo-meLeva{
    background-color:#FFB400;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    color: #ffff;
}

nav{
    background-image: url('https://raw.githubusercontent.com/JoaoLucasPMedeiros/foto/main/menu.png');
    background-position: center; 
    height: 40vh;
}

.btn-menu{
    background-color: #ffff;
}

.menu{
    background-color: transparent;
}

.menu-a{
    color: aliceblue;
    position: relative;
}

.menu-a:hover{
    font-weight: bold;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  width: 0;
  height: 0.2rem;
  background: crimson;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 100%;
}

.btn-premium {
    background-color: #ff8200;
}

.btn-premium:hover{
    background-color: #ff8400b4;
}

.gap{
    height: 10px;
}
/* CARD */
h1{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size:2.4rem ;
}
.color-Premiumu{
    background-image: url(https://raw.githubusercontent.com/JoaoLucasPMedeiros/foto/4c51049171e05f878e11f11ab2ecce5965cc3900/menuPremiu.svg);
    min-height: 100vh;
    background-position: center; 

}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: auto;
  
}

 
.card {
    margin-left: -1rem;
    margin-right: -1rem;
    margin: auto;
    margin-top: 2rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2rem;
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 1.5rem;
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff
  }
  
  .price {
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 700;
    color: #fff
  }
  
  .desc {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    line-height: 1.625;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists {
    margin-bottom: 1.5rem;
    flex: 1 1 0%;
    color: rgba(156, 163, 175, 1);
  }
  
  .lists .list {
    margin-bottom: 0.5rem;
    display: flex;
    margin-left: 0.5rem
  }
  
  .lists .list svg {
    height: 1.5rem;
    width: 1.5rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
    color: rgba(167, 139, 250, 1);
  }
  
  .action {
    border: none;
    outline: none;
    display: inline-block;
    border-radius: 0.25rem;
    background-color: rgba(167, 139, 250, 1);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: rgba(17, 24, 39, 1);
  }

  .action:hover{
    background-color: #a78bfad6;
    
  }

  /* footer */
